<div class="swiper-container top">
  <div class="swiper-wrapper">
      <div class="swiper-slide">
  <a href="/songs/2ANVost0y2y52ema1E9xAZ/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273de437d960dda1ac0a3586d97" alt="Thriller" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/2UJcKiJxNryhL050F5Z1Fk/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273fbc71c99f9c1296c56dd51b6" alt="Nevermind (Remastered)" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/0ETFjACtuP2ADo6LFhL6HN/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25" alt="Abbey Road (Remastered)" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/4xwx0x7k6c5VuThz5qVqmV/album">
    <img src="https://i.scdn.co/image/ab67616d0000b27398260c528e6eec9dd431c1d7" alt="The Velvet Underground & Nico 45th Anniversary" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/29f2cOueckYE8Nc1pkJjrU/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273de0391ae05929bfe0e952f6b" alt="There's a Riot Goin' On" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/75ol9OP8bJaRqzGimpFHDm/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273da7b326bd7ffa7b6b95b0660" alt="In The Court Of The Crimson King (Expanded & Remastered Original Album Mix)" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/0NouBnbXRJKFWzm9LwCW0K/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273b57713d0fe3553a087419f8f" alt="Queen II (2011 Remaster)" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/20r762YmB5HeofjMCiPMLv/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273d9194aa18fa4c9362b47464f" alt="My Beutiful" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/5Y0p2XCgRRIjna91aQE8q7/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273ada101c2e9e97feb8fae37a9" alt="Queen is dead" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/5iIWnMgvSM8uEBwXKsPcXM/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273fbcaf7402f38faac27610efc" alt="Layla" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/0bCAjiUamIFqKJsekOYuRw">
    <img src="https://i.scdn.co/image/ab67616d0000b2731a84d71391df7469c5ab8539" alt="Wish you were here" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/30Perjew8HyGkdSmqguYyg/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273153d79816d853f2694b2cc70" alt="blood suger" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/4m2880jivSbbyEGAKfITCa/album">
    <img src="https://i.scdn.co/image/ab67616d0000b2739b9b36b0e22870b9f542d937" alt="ramdom access" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/50Zz8CkIhATKUlQMbHO3k1/album">
    <img src="https://i.scdn.co/image/ab67616d0000b2736b3fa88bdd4af566fbbf2bbf" alt="whatever?" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/3UsWuvyuXkospeI9nLdVem/album">
    <img src="https://i.scdn.co/image/ab67616d0000b2736f253c0104f24caed5e3e42e" alt="(What's The Story) Morning Glory (Remastered, Deluxe)" class="album-cover">
  </a>
</div>

      

  </div>
</div>

<div class="swiper-container bottom">
  <div class="swiper-wrapper">
      <div class="swiper-slide">
  <a href="/songs/6FCzvataOZh68j8OKzOt9a/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273cd9d8bc9ef04014b6e90e182" alt="London Calling (Remastered)" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/6YUCc2RiXcEKS9ibuZxjt0/album">
    <img src="https://i.scdn.co/image/ab67616d0000b2732fee61bfec596bb6f5447c50" alt="Songs In The Key Of Life" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/2cUpAOlQjV5uSjkWj5bEQY/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273c32e12829fb960100a3257c6" alt="Atom Heart Mother" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/3HZKOk1knxrUU3y5ZIOdbz/album">
    <img src="	https://i.scdn.co/image/ab67616d0000b2735db6dbaca8678527e643a866" alt="Aladdin Sane" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/35UJLpClj5EDrhpNIi4DFg/album">
    <img src="https://i.scdn.co/image/ab67616d0000b2739293c743fa542094336c5e12" alt="Bends" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/3ywVzrwMQ3Kq43N9zBdBQm/album">
    <img src="https://i.scdn.co/image/ab67616d0000b27352573463beeda67fe242cab5" alt="fankadelic" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/5PORx6PL7CdOywSJuGVrnc/album">
    <img src="https://i.scdn.co/image/ab67616d0000b27339180b45808493a1f687c91d" alt="screamadelica" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/2yNaksHgeMQM9Quse463b5/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273a388a3f20d1bf2123249cc79" alt="Is This It?" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/1JvXxLsm0PxlGH4LXzqMGq/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273e49a405217bda217816f7bf5" alt="Remain in Light" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/7KOmuu3cbJQEQYGt3XmLmY/album">
    <img src="https://i.scdn.co/image/ab67616d0000b2737aebbd28dd4cfaca652008b7" alt="Kimono My House" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/7ycBtnsMtyVbbwTfJwRjSP/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273cdb645498cd3d8a2db4d05e1" alt="Top pimp" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/6QaVfG1pHYl1z15ZxkvVDW/album">
    <img src="https://i.scdn.co/image/ab67616d0000b27334ef8f7d06cf2fc2146f420a" alt="Sgt. Pepper's Lonely Hearts Club Band (Remastered)" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/1BZoqf8Zje5nGdwZhOjAtD/album">
    <img src="https://i.scdn.co/image/ab67616d0000b273e08b1250db5f75643f1508c9" alt="The Miseducation of Lauryn Hill" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/5MqyhhHbT13zsloD3uHhlQ//album">
    <img src="https://i.scdn.co/image/ab67616d0000b273fe24dcd263c08c6dd84b6e8c" alt="Who's next" class="album-cover">
  </a>
</div>
<div class="swiper-slide">
  <a href="/songs/5EyIDBAqhnlkAHqvPRwdbX/album">
    <img src="https://i.scdn.co/image/ab67616d0000b2734509204d0860cc0cc67e83dc" alt="Led Zeppelin IV (Remaster)" class="album-cover">
  </a>
</div>

      

  </div>
</div>



<!-- Swiper.js のスクリプト -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" data-turbo="false"></script>
<script>
  document.addEventListener("turbo:load", function() {
    // 上のスワイパー（右方向に流れる）
    var swiperTop = new Swiper(".swiper-container.top", {
      slidesPerView: 'auto', // スライド数を自動調整
      spaceBetween: 10, // スライド間の間隔
      loop: true,
      speed: 10000, // スピード設定
      autoplay: {
        delay: 0, // 自動再生の遅延なし
        disableOnInteraction: false,
      },
    });

    // 下のスワイパー（左方向に流れる）
    var swiperBottom = new Swiper(".swiper-container.bottom", {
      slidesPerView: 'auto',
      spaceBetween: 10,
      loop: true,
      speed: 10000,
      autoplay: {
        delay: 0,
        disableOnInteraction: false,
        reverseDirection: true, // 逆方向にスライド
      },
    });
  });
</script>




<div class="top-text">
    <div class="explain">
        ここは、新たな音楽と出会うことができる場所です！
        <br>診断では、いくつかの質問に答えるだけで、
        <br>あなたにぴったりの洋楽が見つかります！</br>
    </div>
    <div class="decoration"></div>
    <div class="decoration"></div>
    <div class="decoration"></div>
    <div class="decoration"></div>
    <div class="top-button">
        <a href="/tweets/question1" class="btn btn--moderntop">診断<br>スタート</a>
    </div>

</div>

<div class="top-container">
</div>

<div class="top-container2">
</div>


