<div class="decoration"></div>
<div class="decoration"></div>
<div class="decoration"></div>
<div class="decoration"></div>


<% if params[:answer] == "C" %>
    <div class="question">
      Q3 初対面の人たちとグループになったとき
    </div>
    <div class="answer">
      <a href="/tweets/question4?answer=G" class="btn btn--modern">自分から話しかける</a>
      <a href="/tweets/question4?answer=H" class="btn btn--modern2">話しかけられるのを待つ</a>
    </div>
<% elsif params[:answer] == "D" %>
    <div class="question">
       Q3 初対面の人たちとグループになったとき
    </div>
    <div class="answer">
      <a href="/tweets/question4?answer=I" class="btn btn--modern">自分から話しかける</a>
      <a href="/tweets/question4?answer=J" class="btn btn--modern2">話しかけられるのを待つ</a>
    </div>
<% elsif params[:answer] == "E" %>
    <div class="question">
      Q3 初対面の人たちとグループになったとき
    </div>
    <div class="answer">
      <a href="/tweets/question4?answer=K" class="btn btn--modern">自分から話しかける</a>
      <a href="/tweets/question4?answer=L" class="btn btn--modern2">話しかけられるのを待つ</a>
    </div>
<% elsif params[:answer] == "F" %>
    <div class="question">
      Q3 初対面の人たちとグループになったとき
    </div>
    <div class="answer">
      <a href="/tweets/question4?answer=M" class="btn btn--modern">自分から話しかける</a>
      <a href="/tweets/question4?answer=N" class="btn btn--modern2">話しかけられるのを待つ</a>
    </div>
<% end %>