<div class="decoration"></div>
<div class="decoration"></div>
<div class="decoration"></div>
<div class="decoration"></div>
    

<% if params[:answer] == "A" %>

    <div class="question">
      Q2 課題は締切ギリギリなことが多い
    </div>
    <div class="answer">
      <a href="/tweets/question3?answer=C" class="btn btn--modern">はい</a>
      <a href="/tweets/question3?answer=D" class="btn btn--modern2">いいえ</a>
    </div>
<% elsif params[:answer] == "B" %>

    <div class="question">
      Q2 課題は締切ギリギリなことが多い
    </div>
    <div class="answer">
      <a href="/tweets/question3?answer=E" class="btn btn--modern">はい</a>
      <a href="/tweets/question3?answer=F" class="btn btn--modern2">いいえ</a>
    </div>
<% end %>