<div class="decoration"></div>
<div class="decoration"></div>
<div class="decoration"></div>
<div class="decoration"></div>

<% if params[:answer] == "G" %>
    <div class="question">
      O4 グループで物事を決めるとき
    </div>
    <div class="answer">
      <a href="/tweets/result?answer=あ" class="btn btn--modern">他人の感情を優先する</a>
      <a href="/tweets/result?answer=い" class="btn btn--modern2">客観的事実を優先する</a>
    </div>
<% elsif params[:answer] == "H" %>
    <div class="question">
      O4 グループで物事を決めるとき
    </div>
    <div class="answer">
      <a href="/tweets/result?answer=う" class="btn btn--modern">他人の感情を優先する</a>
      <a href="/tweets/result?answer=え" class="btn btn--modern2">客観的事実を優先する</a>
    </div>
<% elsif params[:answer] == "I" %>
    <div class="question">
      O4 グループで物事を決めるとき
    </div>
    <div class="answer">
      <a href="/tweets/result?answer=お" class="btn btn--modern">他人の感情を優先する</a>
      <a href="/tweets/result?answer=か" class="btn btn--modern2">客観的事実を優先する</a>
    </div>
<% elsif params[:answer] == "J" %>
    <div class="question">
      O4 グループで物事を決めるとき
    </div>
    <div class="answer">
      <a href="/tweets/result?answer=き" class="btn btn--modern">他人の感情を優先する</a>
      <a href="/tweets/result?answer=く" class="btn btn--modern2">客観的事実を優先する</a>
    </div>
<% elsif params[:answer] == "K" %>
    
    <div class="question">
      O4 グループで物事を決めるとき
    </div>
    <div class="answer">
      <a href="/tweets/result?answer=け" class="btn btn--modern">他人の感情を優先する</a>
      <a href="/tweets/result?answer=こ" class="btn btn--modern2">客観的事実を優先する</a>
    </div>
<% elsif params[:answer] == "L" %>
    </div>
    <div class="question">
      O4 グループで物事を決めるとき
    </div>
    <div class="answer">
      <a href="/tweets/result?answer=さ" class="btn btn--modern">他人の感情を優先する</a>
      <a href="/tweets/result?answer=し" class="btn btn--modern2">客観的事実を優先する</a>
    </div>
<% elsif params[:answer] == "M" %>
    <div class="question">
      O4 グループで物事を決めるとき
    </div>
    <div class="answer">
      <a href="/tweets/result?answer=す" class="btn btn--modern">他人の感情を優先する</a>
      <a href="/tweets/result?answer=せ" class="btn btn--modern2">客観的事実を優先する</a>
    </div>
<% elsif params[:answer] == "N" %>
    <div class="question">
      O4 グループで物事を決めるとき
    </div>
    <div class="answer">
      <a href="/tweets/result?answer=そ" class="btn btn--modern">他人の感情を優先する</a>
      <a href="/tweets/result?answer=た" class="btn btn--modern2">客観的事実を優先する</a>
    </div>
<% end %>