
<div class="decoration"></div>
<div class="decoration"></div>
<div class="decoration"></div>
<div class="decoration"></div>

<div class="question">
  Q1 失敗した時、しばらくそれを思い出しては一人反省会をすることが多い。
</div>

<div class="answer">
  <a href="/tweets/question2?answer=A" class="btn btn--modern">はい</a>
  <a href="/tweets/question2?answer=B" class="btn btn--modern2">いいえ</a>
</div>