
<div class="album">
  <h2>トラックリスト</h2>
  <% @album.tracks.each do |track| %>
    <div>
      <h3><%= track.track_number %>：<%= link_to track.name, song_path(track.id) %></h3>
    </div>
  <% end %>
  <% if @album.images.any? %>
    <%= image_tag(@album.images[0]["url"]) %>
  <% end %>
